div.result-examination-component {
  margin: 1rem 0;
}

.item1 { grid-area: diagnosis;}
.item2 {
  grid-area: submitButton;

}

mat-card-content.form-grid-content {
  padding: 1rem 0;
  display: grid;
  grid-template-areas:
    'diagnosis submitButton';
  column-gap: 2rem;
}
