<section class="component">
  <div class="make-appointment-component">
    <form [formGroup]="contactForm" (ngSubmit)="sendMessage()" autocomplete="off">
      <mat-card>

        <mat-card-title>
          Contact with the clinic
        </mat-card-title>

        <div *ngIf="!messageIsSent">
          <mat-card-content class="form-grid-content">

            <mat-form-field class="item1" appearance="outline">
              <mat-label>Topic</mat-label>
              <input matInput formControlName="topic">
            </mat-form-field>

            <mat-form-field class="item2" appearance="outline">
              <mat-label>Your message</mat-label>
              <textarea matInput
                        formControlName="message"
                        cdkTextareaAutosize
                        cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="7">

              </textarea>
            </mat-form-field>

          </mat-card-content>

          <mat-card-actions align="end">
            <button mat-raised-button type="submit" color="primary">Send</button>
          </mat-card-actions>
        </div>

        <div *ngIf="messageIsSent">
          <h3>Message was sent successfully!</h3>
          <p>Topic: {{contactForm.value['topic']}}</p>
          <p>Your message: </p>
          {{contactForm.value['message']}}
        </div>

      </mat-card>
    </form>
  </div>
</section>
